{% extends 'layouts/base.html' %}
{% load static %}
{% debug %}
{% block title %} Contract Details {% endblock %}

{% block extrastyle %}
<style>
    .limit-text {
        max-width: 200px;
        /* Set the desired maximum width for the cell */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        /* Add this if you want to indicate the cell is truncated */
    }

    .cur {
        cursor: pointer;
    }

    /* Custom CSS for smaller textareas */
    #id_shipping_address,
    #id_address {
        height: 100px;
        /* Adjust the height as needed */
    }

    .bg-warning{
        background-color: red !important;
    }

    .modal-xl{
        max-width: 1200px; !important;
    }

    body.dark .modal-content {
        background-color: #2C394B !important;
        color: #fff !important;
      }
</style>
{% endblock extrastyle %}

{% block content %}

<!-- Customer List -->
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center justify-content-between">
                                    <h3 class="h2 text-danger font-weight-bold">Contract Details</h3>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body px-0 pt-0 pb-2">
                                <div class="table-responsive p-0">
                                    <table id='AC_AMC_TABLE' class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th
                                                    class="text-center text-uppercase text-secondary font-weight-bold opacity-7">
                                                    No.
                                                </th>
                                                <th
                                                    class="text-center text-uppercase text-secondary font-weight-bold opacity-7">
                                                    Company Name
                                                </th>
                                                
                                                <th
                                                    class="text-center text-uppercase text-secondary font-weight-bold opacity-7 d-none d-lg-table-cell">
                                                    Technicians
                                                </th>

                                                <th
                                                    class="text-center text-uppercase text-secondary font-weight-bold opacity-7 ">
                                                    Start Date
                                                </th>
                                                <th
                                                    class="text-center text-uppercase text-secondary font-weight-bold opacity-7">
                                                    End Date
                                                </th>
                                                <th class="text-center text-uppercase text-secondary font-weight-bold opacity-7">
                                                    Contract Duration
                                                </th>

                                                
                                                <th class="text-center text-uppercase text-secondary font-weight-bold opacity-7">
                                                    Location
                                                </th>
                                                <th
                                                    class="text-center text-uppercase text-secondary font-weight-bold opacity-7">
                                                    Status
                                                </th>

                                                <th
                                                    class="text-center text-uppercase text-secondary font-weight-bold opacity-7">
                                                    View / Edit Service
                                                </th>
                                                <th
                                                    class="text-center text-uppercase text-secondary font-weight-bold opacity-7">
                                                    Delete
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for contract in contract_lists %}
                                            <tr>
                                                <td class="text-center font-weight-bold opacity-7">
                                                    <h6 class="mb-0 text-sm">{{forloop.counter}}</h6>
                                                </td>
                                                <td class="text-center opacity-7">
                                                    <h6 class="mb-0 text-sm text-secondary font-weight-bold">{{ contract.customer|safe|upper }}
                                                    </h6>
                                                </td>

                                                <td class="text-center opacity-7 d-none d-lg-table-cell">
                                                    <p class="text-xs font-weight-bold mb-0 limit-text">
                                                        {% comment %} {% for tech in contract.technicians.all %}
                                                        {{ tech.name|upper }} {% if not forloop.last %}, {% endif %}
                                                        {% endfor %} {% endcomment %}
                                                        {{ contract.technicians }}
                                                    </p>
                                                </td>

                                                <td class="text-center opacity-7 ">
                                                    <p class="text-xs font-weight-bold mb-0 limit-text">
                                                        {{ contract.start_date }}
                                                    </p>
                                                </td>

                                                <td class="text-center opacity-7 ">
                                                    <p class="text-xs font-weight-bold mb-0 limit-text">
                                                        {{ contract.end_date }}
                                                    </p>
                                                </td>

                                                <td class="text-center opacity-7 ">
                                                    <p class="text-xs font-weight-bold mb-0 limit-text">
                                                        {{ contract.service_duration }}
                                                    </p>
                                                </td>

                                                <td class="text-center opacity-7">
                                                    <p class="text-xs font-weight-bold mb-0 limit-text">
                                                        {% for location in contract.locations.all %}
                                                            {{ location.name|upper }}
                                                            {% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </p>
                                                </td>

                                                <td class="text-center  opacity-7">
                                                    <p class="text-xs font-weight-bold mb-0 limit-text">
                                                        {{ contract.status }}
                                                    </p>
                                                </td>

                                                <td class="text-center font-weight-bold opacity-7">
                                                    <a href="/admin/contract_detail/{{ contract.id }}"
                                                        class="btn bg-danger rounded text-white font-weight-bold text-xs cur"
                                                        data-toggle="tooltip" data-original-title="View contract">
                                                        <span class="badge badge-sm">View</span>
                                                    </a>

                                                    <!-- Edit Button -->
                                                    <button id="updatecus" type="button"
                                                        class="updatecus btn text-white font-weight-bold text-xs badge badge-md bg-danger rounded"
                                                        data-toggle="modal" 
                                                        data-target="#updateContractModal{{  contract.id }}">
                                                        <span class="badge badge-md ">Edit</span>
                                                    </button>

                                                </td>

                                                <!-- Delete Button  -->
                                                <td class="text-center font-weight-bold opacity-7">
                                                    <a href="/admin/Delete_ContractDetails/{{ contract.id }}"
                                                        class="btn bg-danger rounded text-white font-weight-bold text-xs cur"
                                                        data-toggle="tooltip" data-original-title="Delete user"
                                                        onclick="return confirm('Are You Sure,You want to delete this data?');">
                                                        <span class="badge badge-sm">Delete</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- View Contract Modals -->
{% for contract in contract_lists %}
<div class="modal fade" id="viewContractdetails{{ contract.id }}" style='z-index: 9999;' role="dialog"
    aria-hidden="false">
    <div class="modal-dialog modal-md " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Contract</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="#">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6">
                            <label for="company_name">Company Name</label>
                            <input type="text" class="form-control" id="company_name" name="company_name"
                                value="{{ contract.customer.company_name }}" disabled><br />
                        </div>
                    </div>
                    
                    <hr>
                    
                    {% comment %} Dates {% endcomment %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="start_date">Start Date</label>
                            <input type="text" class="form-control" id="start_date" name="start_date"
                                value="{{ contract.start_date }}" disabled><br />
                        </div>
                        <div class="col-md-6">
                            <label for="end_date">End Date</label>
                            <input type="text" class="form-control" id="end_date" name="end_date"
                                value="{{ contract.end_date }}" disabled><br />
                        </div>
                    </div>
                    
                    <hr>
                    
                    {% comment %} Location & Service Details {% endcomment %}
                    <div class="row">
                        <div class="col-md-4">
                            {% comment %} Update Location {% endcomment %}
                            <div class="form-group">
                                <label for="type">Location</label>
                                {% for location in contract.locations.all %}
                                <input type="text" class="form-control mb-2" id="cctv-location" name="update_location" value="{{ location.name|upper }}" disabled>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% comment %} Update Service Duration {% endcomment %}
                            <div class="form-group">
                                <label for="service-duration">Service Duration</label>
                                <input type="text" class="form-control" id="services_duration" name="update_service_durations" value="{{ contract.service_duration }}" disabled>
                            </div>
                        </div>
                        
                    </div>
                    
                    {% comment %} Status {% endcomment %}
                    <div class="row">
                        <div class="col-md-4">
                            <label for="shipping-address" class="mb-2 text-left"> Status </label>
                            <input  class="form-control mb-2" type="text"
                                value="{{ contract.status|upper }}" disabled>
                        </div>
                    </div>

                    {% comment %} Close Button {% endcomment %}
                    <button type="button" class="btn btn-danger rounded" data-bs-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- Update Customer Modals -->
{% for contract in contract_lists %}
<div class="modal fade" id="updateContractModal{{  contract.id }}" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Contract</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'update_contract' contract.id %}">
                    {% csrf_token %}

                    {% comment %} Company Details {% endcomment %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="company_name">Company Name</label>

                            <select class="form-control" name="update_company_name" id="update_company_name">
                                <option value="">Select the company</option>
                                {% for contract in contract_lists %}
                                <option value="{{ contract.customer.company_name }}">
                                    {{ contract.customer.company_name }}
                                </option>
                                {% endfor %}
                            </select> <br>
                        </div>
                    </div>

                    {% comment %} Dates {% endcomment %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="company_name">Start Date</label>
                            <input type="date" class="form-control" id="update_starting_date" name="update_starting_date"
                                value="{{ contract.start_date }}" ><br />
                        </div>
                        <div class="col-md-6">
                            <label for="customer_name">End Date</label>
                            <input type="date" class="form-control" id="customer_name" name="update_ending_date"
                                value="{{ contract.end_date }}" ><br />
                        </div>
                    </div>

                    {% comment %} Location & Service Details {% endcomment %}
                    <div class="row">
                        <div class="col-md-4">
                            {% comment %} Update Location {% endcomment %}
                            <div class="form-group">
                                <label for="type">Location</label>
                                {% for location in contract.locations.all  %}
                                <input type="text" class="form-control mb-2" id="contract-location" name="update_location" value="{{ location.name|upper }}">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            {% comment %} Update Service Duration {% endcomment %}
                            <div class="form-group">
                                <label for="service-duration">Service Duration</label>
                                <select class="form-control" id="services_duration" name="update_service_durations">
                                    <option value="30" {% if contract.service_duration == "30" %}selected{% endif %}>30 Days</option>
                                    <option value="90" {% if contract.service_duration == "90" %}selected{% endif %}>90 Days</option>
                                    <option value="180" {% if contract.service_duration == "180" %}selected{% endif %}>180 Days</option>
                                    <option value="365" {% if contract.service_duration == "365" %}selected{% endif %}>365 Days</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    {% comment %} Status {% endcomment %}
                    <div class="row">
                        <div class="col-md-4">
                            <label for="shipping-address" class="mb-2 text-left"> Status </label>
                            <select name="status" class="form-control">
                                <option value="" selected disabled>Select Status</option>
                                {% for value, label in status_choices.items %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {% comment %} Submit Button {% endcomment %}
                    <button type="submit" class="btn btn-danger rounded" data-bs-dismiss="modal">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}